@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


.heading {
  font-family: 'DM Serif Display', serif;
}

body {
  font-family: 'Karla', sans-serif;
}

.bg1 {
  background-color: hsl(256, 26%, 20%);
}

.bg2 {
  background-color: hsl(0, 0%, 98%);
}

.font1 {
  font-size: 0.9rem;
}
.font2 {
  font-size: 0.95rem;
}